<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="css/main.css")
	link(href="https://fonts.googleapis.com/css?family=Acme|Roboto" rel="stylesheet")
	link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
	link(href="https://fonts.googleapis.com/css?family=Acme|Ubuntu|Fira+Sans|IBM+Plex+Sans" rel="stylesheet")
	script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js")
body
	.list-blank
		.list.listtop.listfixed0.l1
			.listtext.lttop.ltfixed0.lt1 Introduction
			.listcircle.lctop.lcfixed0.lc1
		.list.listfixed.l2
			.listtext.ltfixed.lt2 Schedule
			.listcircle.lcfixed.lc2
		.list.listfixed.l3
			.listtext.ltfixed.lt3 Message
			.listcircle.lcfixed.lc3
	a(href="#header" class="clickheader click-fixed cfdisplay")
	a(href="#footer" class="clickfooter click-fixed cfdisplay")
	a(href="#day6" class="clickday6 click-fixed cfdisplay")
	a(href="#day5" class="clickday5 click-fixed cfdisplay")
	a(href="#day4" class="clickday4 click-fixed cfdisplay")
	a(href="#day3" class="clickday3 click-fixed cfdisplay")
	a(href="#day2" class="clickday2 click-fixed cfdisplay")
	a(href="#day1" class="clickday1 click-fixed cfdisplay")
	a(href="#dday" class="clickdday click-fixed cfdisplay")
	a(href="#article" class="clickarticle click-fixed0 cfdisplay0")
	.header(id="header")
		a(href="#article" class="clickarticle clickdown" id="clickarticle")
		a(href="file:///D:/User%20Data/Desktop/terminal/main.html" class="logo")
			.logo1 TRAVEL
			.logo2 DIARY
		.leftinfo
			.text1.t1 大阪
			.text1.t4 OSAKA
			.text1.t2 / / 大阪市位於日本本州島西南部，是關西地區的工商業和水陸空交通中心，日本的第二大城市。氣候溫和濕潤，四季花木常青、處處河道縱橫。
			.text1.t3 / / 如今是日本代表性的國際旅遊觀光城市，同時關西國際機場的落成，使大阪成為旅客前往京都、神戶、四國等關西地區旅遊的交通樞紐。
		.rightinfo
			.text1.t1 京都
			.text1.t4 KYOTO
			.text1.t2 / / 自平安京遷都以來，至定都東京期間，京都一直是日本的首都，因此又有「古都」之稱。因為長年的豐富歷史，使得京都市擁有豐富的歷史遺跡，是日本傳統文化的重鎮之一。
		.wrapper
			input(type="checkbox" href="#" class="allbtn btn1" name="allbtn btn1" id="allbtn btn1")
			label(class="place p1" for="allbtn btn1")
			input(type="checkbox" href="#" class="allbtn btn2" name="allbtn btn2" id="allbtn btn2")
			label(class="place p2" for="allbtn btn2")
			input(type="checkbox" href="#" class="allbtn btn3" name="allbtn btn3" id="allbtn btn3")
			label(class="place p3" for="allbtn btn3")
			input(type="checkbox" href="#" class="allbtn btn4" name="allbtn btn4" id="allbtn btn4")
			label(class="place p4" for="allbtn btn4")
			input(type="checkbox" href="#" class="allbtn btn5" name="allbtn btn5" id="allbtn btn5")
			label(class="place p5" for="allbtn btn5")
			input(type="checkbox" href="#" class="allbtn btn6" name="allbtn btn6" id="allbtn btn6")
			label(class="place p6" for="allbtn btn6")
			input(type="checkbox" href="#" class="allbtn btn7" name="allbtn btn7" id="allbtn btn7")
			label(class="place p7" for="allbtn btn7")
			input(type="checkbox" href="#" class="allbtn btn8" name="allbtn btn8" id="allbtn btn8")
			label(class="place p8" for="allbtn btn8")
			input(type="checkbox" href="#" class="allbtn btn9" name="allbtn btn9" id="allbtn btn9")
			label(class="place p9" for="allbtn btn9")
			input(type="checkbox" href="#" class="allbtn btn10" name="allbtn btn10" id="allbtn btn10")
			label(class="place p10" for="allbtn btn10")
			.hidden.h1
			.hidden.h2
			.hidden.h3
			.hidden.h4
			.circle.maincircle
				.mainver.maininfo1 Japan
				.mainver.maininfo2 Introduction
				.secver.version1.secinfo1.si1-1 道頓堀
				.secver.version1.secinfo2.si1-2 雖然本來只是條運河
					br
					| 但因1626年劇場小屋搬遷到此處
					br
					| 而發展起來的劇場小鎮
					br
					| 今日的道頓堀是大阪的主要商區之一
					br
					| 沿運河兩岸設有商店街及不少飲食店
					br
					| 河畔的固力果大型霓虹廣告牌
					br
					| 也成為大阪的著名標誌
					label(class="version1 cross" for="allbtn btn1")
				.secver.version2.secinfo1.si2-1 大阪環球影城
				.secver.version2.secinfo2.si2-2 世界4個環球影城主題公園之一
					br
					| 不僅充滿令人興奮與感動的設施、表演
					br
					| 還可以看到許多人氣角色的出現
					br
					| 其中著名的哈利波特魔法世界園區內
					br
					| 矗立著雄偉漂亮的霍格華茲城堡
					br
					| 每年都吸引了眾多遊客遊玩	
					label(class="version2 cross" for="allbtn btn2")
				.secver.version3.secinfo1.si3-1 伏見稻荷
				.secver.version3.secinfo2.si3-2 參拜的人在願望實現後
					br
					| 捐獻鳥居以表達謝意
					br 
					| 於是位在京都的伏見稻荷大社
					br
					| 以「千本鳥居」而聞名
					br
					| 現在捐獻鳥居的人仍絡繹不絕
					br
					| 範圍因而擴張到主殿後面稻荷山上
					br
					| 據說至今累積有1000座以上
					label(class="version3 cross" for="allbtn btn3")
				.secver.version4.secinfo1.si4-1 清水寺
				.secver.version4.secinfo2.si4-2 旅者首次到京都必去的景點
					br
					| 這座京都最古老的寺院依山而建
					br
					| 名列世界文化遺產之一
					br
					| 無論是春櫻、夏瀑、秋楓、冬雪
					br
					| 都有其獨特的美
					br
					| 也因此人潮總是絡繹不絕
					label(class="version4 cross" for="allbtn btn4")
				.secver.version5.secinfo1.si5-1 金閣寺
				.secver.version5.secinfo2.si5-2 雖然正式名稱是鹿苑寺
					br
					| 但因舍利殿以金色出名 而有此別稱
					br
					| 也被列為世界遺產
					br
					| 在把金閣寺圍起來般的鏡湖池裡
					br
					| 映照著寺院倒影「逆金閣」
					br
					| 可隨著四季氣候變化
					br
					| 欣賞到鹿苑寺不同的樣貌
					label(class="version5 cross" for="allbtn btn5")
				.secver.version6.secinfo1.si6-1 哲學之道
				.secver.version6.secinfo2.si6-2 位於京都市左京區的小徑
					br
					| 1922年開始 在琵琶湖岸側
					br
					| 從天王寺至淨土寺約2公里長的區間
					br
					| 種植了500棵櫻花樹
					br
					| 成為了著名的櫻花隧道
					br
					| 吸引了相當多遊客造訪
					label(class="version6 cross" for="allbtn btn6")
				.secver.version7.secinfo1.si7-1 大阪城公園
				.secver.version7.secinfo2.si7-2 面積有105公頃之大
					br
					| 坐落於大阪城特別史蹟指定地
					br
					| 內有大阪城天守閣、千貫櫓等
					br
					| 著名的歷史建物
					br
					| 也是賞梅和賞櫻的著名景點
					br
					| 一年四季皆能體驗不同的風情
					label(class="version7 cross" for="allbtn btn7")
				.secver.version8.secinfo1.si8-1 大阪今昔館
				.secver.version8.secinfo2.si8-2 位於大阪一座頗具特色的博物館
					br
					| 館內的建築物和街道模型
					br
					| 重現了大阪人過去的生活
					br
					| 並收藏了江戶時代大阪的城市模型
					br
					| 遊客們可以透過陳列品
					br
					| 全面的了解大阪的發展歷程
					label(class="version8 cross" for="allbtn btn8")
				.secver.version9.secinfo1.si9-1 藍天大廈
				.secver.version9.secinfo2.si9-2 大阪市新梅田城內的摩天大樓
					br
					| 總高度高達173公尺
					br
					| 從戶外觀景台「空中庭園」往下望
					br
					| 梅田的高樓大廈群與鬧區近在咫尺
					br
					| 燈光萬千的景象堪稱一絕
					br
					| 成為了大阪地區的地標
					label(class="version9 cross" for="allbtn btn9")
				.secver.version10.secinfo1.si10-1 黑門市場
				.secver.version10.secinfo2.si10-2 超過170年的歷史
					br
					| 不僅是大阪美食的聚集地
					br
					| 也保存了大阪豐富的飲食文化
					br
					| 除了觀光客之外
					br
					| 黑門市場也深受當地人的喜愛
					br
					| 又有「大阪人的廚房」之稱
					label(class="version10 cross" for="allbtn btn10")
	.article(id="article")
		.side-nav
			.navclick.navclickone
			.navlist
				a(href="#dday" class="nl nld") D-DAY
				a(href="#day1" class="nl nl1") DAY1
				a(href="#day2" class="nl nl2") DAY2
				a(href="#day3" class="nl nl3") DAY3
				a(href="#day4" class="nl nl4") DAY4
				a(href="#day5" class="nl nl5") DAY5
				a(href="#day6" class="nl nl6") DAY6
			.navclick.navclicktwo
		.dropdowns.navfixed
			.navclick.navclickone
			.navlist
				a(href="#dday" class="nl nld") D-DAY
				a(href="#day1" class="nl nl1") DAY1
				a(href="#day2" class="nl nl2") DAY2
				a(href="#day3" class="nl nl3") DAY3
				a(href="#day4" class="nl nl4") DAY4
				a(href="#day5" class="nl nl5") DAY5
				a(href="#day6" class="nl nl6") DAY6
			.navclick.navclicktwo
		.linkcontainer
			.dlink(id="dday")
			.dlink(id="day1")
			.dlink(id="day2")
			.dlink(id="day3")
			.dlink(id="day4")
			.dlink(id="day5")
			.dlink(id="day6")
		.container
			.d.dday
				.cube.cdd1
					.cmaintext.cmtdd1 啟程
					.csectext.cstdd1 / / 在考完學測的那次寒假，
						br
						| 我們全家規劃了第一次的自助國外旅行，
						br
						| 在眾多自助旅行者推薦下，
						br
						| 地點選在鄰近台灣、食衣住行不會落差太多的日本，
						br
						| 並考量到是首次嘗試自助旅行，
						br
						| 最後決定前往相對便利繁華的大阪、京都體驗六天五夜的日本關西之旅。
					.textborder
				.cube.cdd2
					.cmaintext.cmtdd2 行前
					.csectext.cstdd2 / / 前往一個人生地不熟語言又不通的地方，
						br
						| 自助旅行最重要的無非是行前準備，
						br
						| 最令我深感自豪的是，
						br
						| 這次的旅行完全是由我跟哥哥一起規劃，
						br
						| 只讓爸媽好好享受。
						br
						| 我們花了將近三個禮拜的時間整理了整個行程，
						br
						| 才有了這次完美的旅行。
			.d.day1
				.cube.cubetext.cday1-1
					.mainline.line1
					.secline.line1
					.cmaintext.cmtday.cmtd1 DAY1
					.cimg.ci1
					.csectext.cstday / / 抵達日本的第一天，
						br
						| 因為時間已經接近晚上，
						br
						| 我們只去了大阪的心齋橋商圈逛街，
						br
						| 還有大阪的新地標HARUKAS展望台，
						br
						| 在距離地面300公尺的地方，
						br
						| 觀賞大阪屬於我們第一天的城市夜景。
					.cube.black
						.textborder.tblack
				.cube.cday1-2
					.imgnumberfixed /6
					.picture.p1-1
						.imgnumber 1
						.cubeicon.ciconleft.cil1-1
						.cubeicon.ciconright.cir1-1
						.cubeicon.ciconexpend.cie1-1
					.picture.p1-2
						.imgnumber 2
						.cubeicon.ciconleft.cil1-2
						.cubeicon.ciconright.cir1-2
						.cubeicon.ciconexpend.cie1-2
					.picture.p1-3
						.imgnumber 3
						.cubeicon.ciconleft.cil1-3
						.cubeicon.ciconright.cir1-3
						.cubeicon.ciconexpend.cie1-3
					.picture.p1-4
						.imgnumber 4
						.cubeicon.ciconleft.cil1-4
						.cubeicon.ciconright.cir1-4
						.cubeicon.ciconexpend.cie1-4
					.picture.p1-5
						.imgnumber 5
						.cubeicon.ciconleft.cil1-5
						.cubeicon.ciconright.cir1-5
						.cubeicon.ciconexpend.cie1-5
					.picture.p1-6
						.imgnumber 6
						.cubeicon.ciconleft.cil1-6
						.cubeicon.ciconright.cir1-6
						.cubeicon.ciconexpend.cie1-6
				.showbig.showbig1
					.showbigclose
					.imgnumberfixed.sinfixed /6
					.sbi.sbi1-1
						img(src="image/articleimg/dimg1-1.jpg" alt="" class="spicture sp1-1")
						.imgnumber.sin 1
						.sbimginfo.sbiinfocolor1 關西機場第二航廈 下機處
						.cubeicon.sbiconleft.sil1-1
						.cubeicon.sbiconright.sir1-1
					.sbi.sbi1-2
						img(src="image/articleimg/dimg1-2.jpg" alt="" class="spicture sp1-2")
						.imgnumber.sin 2
						.sbimginfo.sbiinfocolor1 關西機場第二航廈
						.cubeicon.sbiconleft.sil1-2
						.cubeicon.sbiconright.sir1-2
					.sbi.sbi1-3
						img(src="image/articleimg/dimg1-3.jpg" alt="" class="spicture sp1-3")
						.imgnumber.sin 3
						.sbimginfo.sbiinfocolor1 心齋橋筋商店街
						.cubeicon.sbiconleft.sil1-3
						.cubeicon.sbiconright.sir1-3
					.sbi.sbi1-4
						img(src="image/articleimg/dimg1-4.jpg" alt="" class="spicture sp1-4")
						.imgnumber.sin 4
						.sbimginfo.sbiinfocolor1 心齋橋筋商店街
						.cubeicon.sbiconleft.sil1-4
						.cubeicon.sbiconright.sir1-4
					.sbi.sbi1-5
						img(src="image/articleimg/dimg1-5.jpg" alt="" class="spicture sp1-5")
						.imgnumber.sin 5
						.sbimginfo.sbiinfocolor1 道頓堀
						.cubeicon.sbiconleft.sil1-5
						.cubeicon.sbiconright.sir1-5
					.sbi.sbi1-6
						img(src="image/articleimg/dimg1-6.jpg" alt="" class="spicture sp1-6")
						.imgnumber.sin 6
						.sbimginfo.sbiinfocolor1 阿倍野 HARUKAS 300展望台的夜景
						.cubeicon.sbiconleft.sil1-6
						.cubeicon.sbiconright.sir1-6
			.d.day2
				.cube.cubetext.cday2-1
					.mainline.line2
					.secline.line2
					.cmaintext.cmtday.cmtd2 DAY2
					.cimg.ci2
					.csectext.cstday / / 第二天則是馬不停蹄的，
						br
						| 一大早就搭MRT衝去環球影城，
						br
						| 除了體驗了身歷哈利波特世界之境的感覺，
						br
						| 那天為了搶玩遊樂設施瘋狂地奔跑、排隊也令人記憶猶新，
						br
						| 更令人驚奇的是園區好萊屋級別的表演，刺激熱情的演出非常讓我印象深刻。
						br
						| 晚上則是安排了參觀位於新世界商店街裡的通天閣。
					.cube.black
						.textborder.tblack
				.cube.cday2-2
					.imgnumberfixed /13
					.picture.p2-1
						.imgnumber 1
						.cubeicon.ciconleft.cil2-1
						.cubeicon.ciconright.cir2-1
						.cubeicon.ciconexpend.cie2-1
					.picture.p2-2
						.imgnumber 2
						.cubeicon.ciconleft.cil2-2
						.cubeicon.ciconright.cir2-2
						.cubeicon.ciconexpend.cie2-2
					.picture.p2-3
						.imgnumber 3
						.cubeicon.ciconleft.cil2-3
						.cubeicon.ciconright.cir2-3
						.cubeicon.ciconexpend.cie2-3
					.picture.p2-4
						.imgnumber 4
						.cubeicon.ciconleft.cil2-4
						.cubeicon.ciconright.cir2-4
						.cubeicon.ciconexpend.cie2-4
					.picture.p2-5
						.imgnumber 5
						.cubeicon.ciconleft.cil2-5
						.cubeicon.ciconright.cir2-5
						.cubeicon.ciconexpend.cie2-5
					.picture.p2-6
						.imgnumber 6
						.cubeicon.ciconleft.cil2-6
						.cubeicon.ciconright.cir2-6
						.cubeicon.ciconexpend.cie2-6
					.picture.p2-7
						.imgnumber 7
						.cubeicon.ciconleft.cil2-7
						.cubeicon.ciconright.cir2-7
						.cubeicon.ciconexpend.cie2-7
					.picture.p2-8
						.imgnumber 8
						.cubeicon.ciconleft.cil2-8
						.cubeicon.ciconright.cir2-8
						.cubeicon.ciconexpend.cie2-8
					.picture.p2-9
						.imgnumber 9
						.cubeicon.ciconleft.cil2-9
						.cubeicon.ciconright.cir2-9
						.cubeicon.ciconexpend.cie2-9
					.picture.p2-10
						.imgnumber.inpos2 10
						.cubeicon.ciconleft.cil2-10
						.cubeicon.ciconright.cir2-10
						.cubeicon.ciconexpend.cie2-10
					.picture.p2-11
						.imgnumber.inpos2 11
						.cubeicon.ciconleft.cil2-11
						.cubeicon.ciconright.cir2-11
						.cubeicon.ciconexpend.cie2-11
					.picture.p2-12
						.imgnumber.inpos2 12
						.cubeicon.ciconleft.cil2-12
						.cubeicon.ciconright.cir2-12
						.cubeicon.ciconexpend.cie2-12
					.picture.p2-13
						.imgnumber.inpos2 13
						.cubeicon.ciconleft.cil2-13
						.cubeicon.ciconright.cir2-13
						.cubeicon.ciconexpend.cie2-13
				.showbig.showbig2
					.showbigclose
					.imgnumberfixed.sinfixed /13
					.sbi.sbi2-1
						img(src="image/articleimg/dimg2-1.jpg" alt="" class="spicture sp2-1")
						.imgnumber.sin 1
						.sbimginfo.sbiinfocolor2 環球影城 歡慶15周年 RE-BOOOOOOOORN大遊行
						.cubeicon.sbiconleft.sil2-1
						.cubeicon.sbiconright.sir2-1
					.sbi.sbi2-2
						img(src="image/articleimg/dimg2-2.jpg" alt="" class="spicture sp2-2")
						.imgnumber.sin 2
						.sbimginfo.sbiinfocolor2 環球影城 入口排隊處
						.cubeicon.sbiconleft.sil2-2
						.cubeicon.sbiconright.sir2-2
					.sbi.sbi2-3
						img(src="image/articleimg/dimg2-3.jpg" alt="" class="spicture sp2-3")
						.imgnumber.sin 3
						.sbimginfo.sbiinfocolor2 環球影城 哈利波特魔法世界
						.cubeicon.sbiconleft.sil2-3
						.cubeicon.sbiconright.sir2-3
					.sbi.sbi2-4
						img(src="image/articleimg/dimg2-4.jpg" alt="" class="spicture sp2-4")
						.imgnumber.sin 4
						.sbimginfo.sbiinfocolor2 環球影城 哈利波特魔法世界 活米村
						.cubeicon.sbiconleft.sil2-4
						.cubeicon.sbiconright.sir2-4
					.sbi.sbi2-5
						img(src="image/articleimg/dimg2-5.jpg" alt="" class="spicture sp2-5")
						.imgnumber.sin 5
						.sbimginfo.sbiinfocolor2 環球影城 哈利波特魔法世界 霍格華茲城堡
						.cubeicon.sbiconleft.sil2-5
						.cubeicon.sbiconright.sir2-5
					.sbi.sbi2-6
						img(src="image/articleimg/dimg2-6.jpg" alt="" class="spicture sp2-6")
						.imgnumber.sin 6
						.sbimginfo.sbiinfocolor2 環球影城 紐約區 蜘蛛人驚魂歷險記乘車遊
						.cubeicon.sbiconleft.sil2-6
						.cubeicon.sbiconright.sir2-6
					.sbi.sbi2-7
						img(src="image/articleimg/dimg2-7.jpg" alt="" class="spicture sp2-7")
						.imgnumber.sin 7
						.sbimginfo.sbiinfocolor2 環球影城 水世界
						.cubeicon.sbiconleft.sil2-7
						.cubeicon.sbiconright.sir2-7
					.sbi.sbi2-8
						img(src="image/articleimg/dimg2-8.jpg" alt="" class="spicture sp2-8")
						.imgnumber.sin 8
						.sbimginfo.sbiinfocolor2 環球影城 水世界 從天而降的飛機
						.cubeicon.sbiconleft.sil2-8
						.cubeicon.sbiconright.sir2-8
					.sbi.sbi2-9
						img(src="image/articleimg/dimg2-9.jpg" alt="" class="spicture sp2-9")
						.imgnumber.sin 9
						.sbimginfo.sbiinfocolor2 環球影城
						.cubeicon.sbiconleft.sil2-9
						.cubeicon.sbiconright.sir2-9
					.sbi.sbi2-10
						img(src="image/articleimg/dimg2-10.jpg" alt="" class="spicture sp2-10")
						.imgnumber.sin.inpos3 10
						.sbimginfo.sbiinfocolor2 環球影城
						.cubeicon.sbiconleft.sil2-10
						.cubeicon.sbiconright.sir2-10
					.sbi.sbi2-11
						img(src="image/articleimg/dimg2-11.jpg" alt="" class="spicture sp2-11")
						.imgnumber.sin.inpos3 11
						.sbimginfo.sbiinfocolor2 通天閣
						.cubeicon.sbiconleft.sil2-11
						.cubeicon.sbiconright.sir2-11
					.sbi.sbi2-12
						img(src="image/articleimg/dimg2-12.jpg" alt="" class="spicture sp2-12")
						.imgnumber.sin.inpos3 12
						.sbimginfo.sbiinfocolor2 新世界商店街
						.cubeicon.sbiconleft.sil2-12
						.cubeicon.sbiconright.sir2-12
					.sbi.sbi2-13
						img(src="image/articleimg/dimg2-13.jpg" alt="" class="spicture sp2-13")
						.imgnumber.sin.inpos3 13
						.sbimginfo.sbiinfocolor2 新世界商店街
						.cubeicon.sbiconleft.sil2-13
						.cubeicon.sbiconright.sir2-13
			.d.day3
				.cube.cubetext.cday3-1
					.mainline.line3
					.secline.line3
					.cube.black
						.textborder.tblack
					.cmaintext.cmtday.cmtd3 DAY3
					.cimg.ci3
					.textnumberfixed.tncolor3 /3
					.csectext.cstday.show3-1 / / 第三天搭著京阪本縣從繁華的大阪轉移到古色古香的京都
						br
						| 第一站來到了日本全國的稻荷神社總本宮——伏見稻荷大社，
						br
						| 說到朱紅色的鳥居，最先聯想到的便是稻荷，
						br
						| 朱紅色被認為是代表稻荷大神豐饒力量的顏色，
						br
						| 崇敬者為表達祈求與感謝之心，於參拜道路供奉鳥居的信仰，
						br
						| 進而形成今日名景「千本鳥居」。
					.textnumber.tncolor3.show3-1 1
					.shownexttext.showtright3.str3-1.displayhide
					.csectext.cstday.show3-2.displayhide / / 除了著名的賞楓寺廟——東福寺、三十三間堂
						br
						| 第三天的最後一站我們來到了清水寺，
						br
						| 通過一條條在被日式建築包圍的坂道，
						br
						| 我們參觀了高台寺以及八坂神社，
						br
						| 雖然遺憾的是當時清水寺正值整修，沒有看到全貌，
						br
						| 但也深深被雄偉的建築、以及室內的神聖感觸動。
					.textnumber.tncolor3.show3-2 2
					.shownexttext.showtright3.str3-2.displayhide
					.shownexttext.showtleft3.stl3-2.displayhide
					.csectext.cstday.show3-3.displayhide / / 接近傍晚，我們又趕忙去了身為京都最古老的結緣神社——地主神社，
						br
						| 裡面相當知名的便是兩顆戀愛占卜石，
						br
						| 相傳只要許下願望並閉眼成功從一顆走到十公尺遠的另一顆，願望就會成真。
						br
						| 此時，清水寺內又是不同的一番風景，
						br
						| 漫步再花見小路中，
						br
						| 讓我覺得好像身處在夢境之中，才因而看到這麼美的景色。
					.textnumber.tncolor3.show3-3 3
					.shownexttext.showtleft3.stl3-3.displayhide
				.cube.cday3-2
					.imgnumberfixed /17
					.picture.p3-1
						.imgnumber 1
						.cubeicon.ciconleft.cil3-1
						.cubeicon.ciconright.cir3-1
						.cubeicon.ciconexpend.cie3-1
					.picture.p3-2
						.imgnumber 2
						.cubeicon.ciconleft.cil3-2
						.cubeicon.ciconright.cir3-2
						.cubeicon.ciconexpend.cie3-2
					.picture.p3-3
						.imgnumber 3
						.cubeicon.ciconleft.cil3-3
						.cubeicon.ciconright.cir3-3
						.cubeicon.ciconexpend.cie3-3
					.picture.p3-4
						.imgnumber 4
						.cubeicon.ciconleft.cil3-4
						.cubeicon.ciconright.cir3-4
						.cubeicon.ciconexpend.cie3-4
					.picture.p3-5
						.imgnumber 5
						.cubeicon.ciconleft.cil3-5
						.cubeicon.ciconright.cir3-5
						.cubeicon.ciconexpend.cie3-5
					.picture.p3-6
						.imgnumber 6
						.cubeicon.ciconleft.cil3-6
						.cubeicon.ciconright.cir3-6
						.cubeicon.ciconexpend.cie3-6
					.picture.p3-7
						.imgnumber 7
						.cubeicon.ciconleft.cil3-7
						.cubeicon.ciconright.cir3-7
						.cubeicon.ciconexpend.cie3-7
					.picture.p3-8
						.imgnumber 8
						.cubeicon.ciconleft.cil3-8
						.cubeicon.ciconright.cir3-8
						.cubeicon.ciconexpend.cie3-8
					.picture.p3-9
						.imgnumber 9
						.cubeicon.ciconleft.cil3-9
						.cubeicon.ciconright.cir3-9
						.cubeicon.ciconexpend.cie3-9
					.picture.p3-10
						.imgnumber.inpos2 10
						.cubeicon.ciconleft.cil3-10
						.cubeicon.ciconright.cir3-10
						.cubeicon.ciconexpend.cie3-10
					.picture.p3-11
						.imgnumber.inpos2 11
						.cubeicon.ciconleft.cil3-11
						.cubeicon.ciconright.cir3-11
						.cubeicon.ciconexpend.cie3-11
					.picture.p3-12
						.imgnumber.inpos2 12
						.cubeicon.ciconleft.cil3-12
						.cubeicon.ciconright.cir3-12
						.cubeicon.ciconexpend.cie3-12
					.picture.p3-13
						.imgnumber.inpos2 13
						.cubeicon.ciconleft.cil3-13
						.cubeicon.ciconright.cir3-13
						.cubeicon.ciconexpend.cie3-13
					.picture.p3-14
						.imgnumber.inpos2 14
						.cubeicon.ciconleft.cil3-14
						.cubeicon.ciconright.cir3-14
						.cubeicon.ciconexpend.cie3-14
					.picture.p3-15
						.imgnumber.inpos2 15
						.cubeicon.ciconleft.cil3-15
						.cubeicon.ciconright.cir3-15
						.cubeicon.ciconexpend.cie3-15
					.picture.p3-16
						.imgnumber.inpos2 16
						.cubeicon.ciconleft.cil3-16
						.cubeicon.ciconright.cir3-16
						.cubeicon.ciconexpend.cie3-16
					.picture.p3-17
						.imgnumber.inpos2 17
						.cubeicon.ciconleft.cil3-17
						.cubeicon.ciconright.cir3-17
						.cubeicon.ciconexpend.cie3-17
				.showbig.showbig3
					.showbigclose
					.imgnumberfixed.sinfixed /17
					.sbi.sbi3-1
						img(src="image/articleimg/dimg3-1.jpg" alt="" class="spicture sp3-1")
						.imgnumber.sin 1
						.sbimginfo.sbiinfocolor3 去往京都的路途中
						.cubeicon.sbiconleft.sil3-1
						.cubeicon.sbiconright.sir3-1
					.sbi.sbi3-2
						img(src="image/articleimg/dimg3-2.jpg" alt="" class="spicture sp3-2")
						.imgnumber.sin 2
						.sbimginfo.sbiinfocolor3 去往京都的路途中
						.cubeicon.sbiconleft.sil3-2
						.cubeicon.sbiconright.sir3-2
					.sbi.sbi3-3
						img(src="image/articleimg/dimg3-3.jpg" alt="" class="spicture sp3-3")
						.imgnumber.sin 3
						.sbimginfo.sbiinfocolor3 伏見稻荷大社 正殿
						.cubeicon.sbiconleft.sil3-3
						.cubeicon.sbiconright.sir3-3
					.sbi.sbi3-4
						img(src="image/articleimg/dimg3-4.jpg" alt="" class="spicture sp3-4")
						.imgnumber.sin 4
						.sbimginfo.sbiinfocolor3 伏見稻荷大社 千本鳥居
						.cubeicon.sbiconleft.sil3-4
						.cubeicon.sbiconright.sir3-4
					.sbi.sbi3-5
						img(src="image/articleimg/dimg3-5.jpg" alt="" class="spicture sp3-5")
						.imgnumber.sin 5
						.sbimginfo.sbiinfocolor3 伏見稻荷大社 千本鳥居
						.cubeicon.sbiconleft.sil3-5
						.cubeicon.sbiconright.sir3-5
					.sbi.sbi3-6
						img(src="image/articleimg/dimg3-6.jpg" alt="" class="spicture sp3-6")
						.imgnumber.sin 6
						.sbimginfo.sbiinfocolor3 通往稻荷山路旁的小吃攤
						.cubeicon.sbiconleft.sil3-6
						.cubeicon.sbiconright.sir3-6
					.sbi.sbi3-7
						img(src="image/articleimg/dimg3-7.jpg" alt="" class="spicture sp3-7")
						.imgnumber.sin 7
						.sbimginfo.sbiinfocolor3 日本街頭 電車
						.cubeicon.sbiconleft.sil3-7
						.cubeicon.sbiconright.sir3-7
					.sbi.sbi3-8
						img(src="image/articleimg/dimg3-8.jpg" alt="" class="spicture sp3-8")
						.imgnumber.sin 8
						.sbimginfo.sbiinfocolor3 三條站
						.cubeicon.sbiconleft.sil3-8
						.cubeicon.sbiconright.sir3-8
					.sbi.sbi3-9
						img(src="image/articleimg/dimg3-9.jpg" alt="" class="spicture sp3-9")
						.imgnumber.sin 9
						.sbimginfo.sbiinfocolor3 日本街頭 去往東福寺的路上
						.cubeicon.sbiconleft.sil3-9
						.cubeicon.sbiconright.sir3-9
					.sbi.sbi3-10
						img(src="image/articleimg/dimg3-10.jpg" alt="" class="spicture sp3-10")
						.imgnumber.sin.inpos3 10
						.sbimginfo.sbiinfocolor3 東福寺
						.cubeicon.sbiconleft.sil3-10
						.cubeicon.sbiconright.sir3-10
					.sbi.sbi3-11
						img(src="image/articleimg/dimg3-11.jpg" alt="" class="spicture sp3-11")
						.imgnumber.sin.inpos3 11
						.sbimginfo.sbiinfocolor3 高台寺
						.cubeicon.sbiconleft.sil3-11
						.cubeicon.sbiconright.sir3-11
					.sbi.sbi3-12
						img(src="image/articleimg/dimg3-12.jpg" alt="" class="spicture sp3-12")
						.imgnumber.sin.inpos3 12
						.sbimginfo.sbiinfocolor3 仁王門三重塔
						.cubeicon.sbiconleft.sil3-12
						.cubeicon.sbiconright.sir3-12
					.sbi.sbi3-13
						img(src="image/articleimg/dimg3-13.jpg" alt="" class="spicture sp3-13")
						.imgnumber.sin.inpos3 13
						.sbimginfo.sbiinfocolor3 八坂神社
						.cubeicon.sbiconleft.sil3-13
						.cubeicon.sbiconright.sir3-13
					.sbi.sbi3-14
						img(src="image/articleimg/dimg3-14.jpg" alt="" class="spicture sp3-14")
						.imgnumber.sin.inpos3 14
						.sbimginfo.sbiinfocolor3 二年坂
						.cubeicon.sbiconleft.sil3-14
						.cubeicon.sbiconright.sir3-14
					.sbi.sbi3-15
						img(src="image/articleimg/dimg3-15.jpg" alt="" class="spicture sp3-15")
						.imgnumber.sin.inpos3 15
						.sbimginfo.sbiinfocolor3 仁王門
						.cubeicon.sbiconleft.sil3-15
						.cubeicon.sbiconright.sir3-15
					.sbi.sbi3-16
						img(src="image/articleimg/dimg3-16.jpg" alt="" class="spicture sp3-16")
						.imgnumber.sin.inpos3 16
						.sbimginfo.sbiinfocolor3 清水坂
						.cubeicon.sbiconleft.sil3-16
						.cubeicon.sbiconright.sir3-16
					.sbi.sbi3-17
						img(src="image/articleimg/dimg3-17.jpg" alt="" class="spicture sp3-17")
						.imgnumber.sin.inpos3 17
						.sbimginfo.sbiinfocolor3 花見小路
						.cubeicon.sbiconleft.sil3-17
						.cubeicon.sbiconright.sir3-17
			.d.day4
				.cube.cubetext.cday4-1
					.mainline.line4
					.secline.line4
					.cmaintext.cmtday.cmtd4 DAY4
					.cimg.ci4
					.csectext.cstday / / 到了第四天，我們搭乘公車，將京都市區的寺廟跑遍，
						br
						| 其中最稀奇的是外牆全以金箔裝飾的金閣寺，
						br
						| 走在旁邊身上都因此泛著金光，
						br
						| 還有幸品嘗到很特別的金箔茶，
						br
						| 最後則是回歸到位在市中心的鬼斧神工的京都車站，
						br
						| 並在京都塔欣賞了京都的夜景，心滿意足地與京都告別。
					.cube.black
						.textborder.tblack
				.cube.cday4-2
					.imgnumberfixed /14
					.picture.p4-1
						.imgnumber 1
						.cubeicon.ciconleft.cil4-1
						.cubeicon.ciconright.cir4-1
						.cubeicon.ciconexpend.cie4-1
					.picture.p4-2
						.imgnumber 2
						.cubeicon.ciconleft.cil4-2
						.cubeicon.ciconright.cir4-2
						.cubeicon.ciconexpend.cie4-2
					.picture.p4-3
						.imgnumber 3
						.cubeicon.ciconleft.cil4-3
						.cubeicon.ciconright.cir4-3
						.cubeicon.ciconexpend.cie4-3
					.picture.p4-4
						.imgnumber 4
						.cubeicon.ciconleft.cil4-4
						.cubeicon.ciconright.cir4-4
						.cubeicon.ciconexpend.cie4-4
					.picture.p4-5
						.imgnumber 5
						.cubeicon.ciconleft.cil4-5
						.cubeicon.ciconright.cir4-5
						.cubeicon.ciconexpend.cie4-5
					.picture.p4-6
						.imgnumber 6
						.cubeicon.ciconleft.cil4-6
						.cubeicon.ciconright.cir4-6
						.cubeicon.ciconexpend.cie4-6
					.picture.p4-7
						.imgnumber 7
						.cubeicon.ciconleft.cil4-7
						.cubeicon.ciconright.cir4-7
						.cubeicon.ciconexpend.cie4-7
					.picture.p4-8
						.imgnumber 8
						.cubeicon.ciconleft.cil4-8
						.cubeicon.ciconright.cir4-8
						.cubeicon.ciconexpend.cie4-8
					.picture.p4-9
						.imgnumber 9
						.cubeicon.ciconleft.cil4-9
						.cubeicon.ciconright.cir4-9
						.cubeicon.ciconexpend.cie4-9
					.picture.p4-10
						.imgnumber.inpos2 10
						.cubeicon.ciconleft.cil4-10
						.cubeicon.ciconright.cir4-10
						.cubeicon.ciconexpend.cie4-10
					.picture.p4-11
						.imgnumber.inpos2 11
						.cubeicon.ciconleft.cil4-11
						.cubeicon.ciconright.cir4-11
						.cubeicon.ciconexpend.cie4-11
					.picture.p4-12
						.imgnumber.inpos2 12
						.cubeicon.ciconleft.cil4-12
						.cubeicon.ciconright.cir4-12
						.cubeicon.ciconexpend.cie4-12
					.picture.p4-13
						.imgnumber.inpos2 13
						.cubeicon.ciconleft.cil4-13
						.cubeicon.ciconright.cir4-13
						.cubeicon.ciconexpend.cie4-13
					.picture.p4-14
						.imgnumber.inpos2 14
						.cubeicon.ciconleft.cil4-14
						.cubeicon.ciconright.cir4-14
						.cubeicon.ciconexpend.cie4-14
				.showbig.showbig4
					.showbigclose
					.imgnumberfixed.sinfixed /14
					.sbi.sbi4-1
						img(src="image/articleimg/dimg4-1.jpg" alt="" class="spicture sp4-1")
						.imgnumber.sin 1
						.sbimginfo.sbiinfocolor4 金閣寺
						.cubeicon.sbiconleft.sil4-1
						.cubeicon.sbiconright.sir4-1
					.sbi.sbi4-2
						img(src="image/articleimg/dimg4-2.jpg" alt="" class="spicture sp4-2")
						.imgnumber.sin 2
						.sbimginfo.sbiinfocolor4 哲學之道
						.cubeicon.sbiconleft.sil4-2
						.cubeicon.sbiconright.sir4-2
					.sbi.sbi4-3
						img(src="image/articleimg/dimg4-3.jpg" alt="" class="spicture sp4-3")
						.imgnumber.sin 3
						.sbimginfo.sbiinfocolor4 日本街頭 鴨川
						.cubeicon.sbiconleft.sil4-3
						.cubeicon.sbiconright.sir4-3
					.sbi.sbi4-4
						img(src="image/articleimg/dimg4-4.jpg" alt="" class="spicture sp4-4")
						.imgnumber.sin 4
						.sbimginfo.sbiinfocolor4 下鴨神社
						.cubeicon.sbiconleft.sil4-4
						.cubeicon.sbiconright.sir4-4
					.sbi.sbi4-5
						img(src="image/articleimg/dimg4-5.jpg" alt="" class="spicture sp4-5")
						.imgnumber.sin 5
						.sbimginfo.sbiinfocolor4 下鴨神社
						.cubeicon.sbiconleft.sil4-5
						.cubeicon.sbiconright.sir4-5
					.sbi.sbi4-6
						img(src="image/articleimg/dimg4-6.jpg" alt="" class="spicture sp4-6")
						.imgnumber.sin 6
						.sbimginfo.sbiinfocolor4 下鴨神社 輪橋
						.cubeicon.sbiconleft.sil4-6
						.cubeicon.sbiconright.sir4-6
					.sbi.sbi4-7
						img(src="image/articleimg/dimg4-7.jpg" alt="" class="spicture sp4-7")
						.imgnumber.sin 7
						.sbimginfo.sbiinfocolor4 下鴨神社 細石(さざ石)
						.cubeicon.sbiconleft.sil4-7
						.cubeicon.sbiconright.sir4-7
					.sbi.sbi4-8
						img(src="image/articleimg/dimg4-8.jpg" alt="" class="spicture sp4-8")
						.imgnumber.sin 8
						.sbimginfo.sbiinfocolor4 金閣寺
						.cubeicon.sbiconleft.sil4-8
						.cubeicon.sbiconright.sir4-8
					.sbi.sbi4-9
						img(src="image/articleimg/dimg4-9.jpg" alt="" class="spicture sp4-9")
						.imgnumber.sin 9
						.sbimginfo.sbiinfocolor4 二條城
						.cubeicon.sbiconleft.sil4-9
						.cubeicon.sbiconright.sir4-9
					.sbi.sbi4-10
						img(src="image/articleimg/dimg4-10.jpg" alt="" class="spicture sp4-10")
						.imgnumber.sin.inpos3 10
						.sbimginfo.sbiinfocolor4 二條城
						.cubeicon.sbiconleft.sil4-10
						.cubeicon.sbiconright.sir4-10
					.sbi.sbi4-11
						img(src="image/articleimg/dimg4-11.jpg" alt="" class="spicture sp4-11")
						.imgnumber.sin.inpos3 11
						.sbimginfo.sbiinfocolor4 二條城
						.cubeicon.sbiconleft.sil4-11
						.cubeicon.sbiconright.sir4-11
					.sbi.sbi4-12
						img(src="image/articleimg/dimg4-12.jpg" alt="" class="spicture sp4-12")
						.imgnumber.sin.inpos3 12
						.sbimginfo.sbiinfocolor4 日本街頭 堀川水道
						.cubeicon.sbiconleft.sil4-12
						.cubeicon.sbiconright.sir4-12
					.sbi.sbi4-13
						img(src="image/articleimg/dimg4-13.jpg" alt="" class="spicture sp4-13")
						.imgnumber.sin.inpos3 13
						.sbimginfo.sbiinfocolor4 京都車站
						.cubeicon.sbiconleft.sil4-13
						.cubeicon.sbiconright.sir4-13
					.sbi.sbi4-14
						img(src="image/articleimg/dimg4-14.jpg" alt="" class="spicture sp4-14")
						.imgnumber.sin.inpos3 14
						.sbimginfo.sbiinfocolor4 京都塔
						.cubeicon.sbiconleft.sil4-14
						.cubeicon.sbiconright.sir4-14
			.d.day5
				.cube.cubetext.cday5-1
					.mainline.line5
					.secline.line5
					.cube.black
						.textborder.tblack
					.cmaintext.cmtday.cmtd5 DAY5
					.cimg.ci5
					.textnumberfixed.tncolor5 /3
					.csectext.cstday.show5-1 / / 最後兩天我們又回到了大阪，
						br
						| 在大阪的賞櫻名點之一，就是能代表大阪的大阪城天守閣，
						br
						| 大阪城與名古屋城、熊本城並列歷史上的三大名城。
						br
						| 大阪城曾為豐臣秀吉時的居城，
						br
						| 後被德川家康消滅後，
						br
						| 成為德川幕府控制西日本的重要據點
					.textnumber.tncolor5.show5-1 1
					.shownexttext.showtright5.str5-1.displayhide
					.csectext.cstday.show5-2.displayhide / / 大阪今昔館收藏了全日本唯一一座江戶時代大阪的城市模型，
						br
						| 館內的建築物和街道模型再現了大阪人過去的生活，
						br
						| 在裡面可以體驗到昔日大阪之景；
						br
						| 大阪車站則是與台北車站相似，
						br
						| 有著一條條繁華的地下街，
						br
						| 也是個shopping的好去處。
					.textnumber.tncolor5.show5-2 2
					.shownexttext.showtright5.str5-2.displayhide
					.shownexttext.showtleft5.stl5-2.displayhide
					.csectext.cstday.show5-3.displayhide / / 通過大阪車站來到梅田大廈，
						br
						| 位於頂層的空中庭園是完全露天的圓形展望台，
						br
						| 可以三百六十度的眺望大阪夜景，
						br
						| 不同於HARUKAS的是他只有一百七十米高，
						br
						| 在大阪的夜晚涼風吹來，
						br
						| 欣賞到的又是另一番風景。
					.textnumber.tncolor5.show5-3 3
					.shownexttext.showtleft5.stl5-3.displayhide
				.cube.cday5-2
					.imgnumberfixed /10
					.picture.p5-1
						.imgnumber 1
						.cubeicon.ciconleft.cil5-1
						.cubeicon.ciconright.cir5-1
						.cubeicon.ciconexpend.cie5-1
					.picture.p5-2
						.imgnumber 2
						.cubeicon.ciconleft.cil5-2
						.cubeicon.ciconright.cir5-2
						.cubeicon.ciconexpend.cie5-2
					.picture.p5-3
						.imgnumber 3
						.cubeicon.ciconleft.cil5-3
						.cubeicon.ciconright.cir5-3
						.cubeicon.ciconexpend.cie5-3
					.picture.p5-4
						.imgnumber 4
						.cubeicon.ciconleft.cil5-4
						.cubeicon.ciconright.cir5-4
						.cubeicon.ciconexpend.cie5-4
					.picture.p5-5
						.imgnumber 5
						.cubeicon.ciconleft.cil5-5
						.cubeicon.ciconright.cir5-5
						.cubeicon.ciconexpend.cie5-5
					.picture.p5-6
						.imgnumber 6
						.cubeicon.ciconleft.cil5-6
						.cubeicon.ciconright.cir5-6
						.cubeicon.ciconexpend.cie5-6
					.picture.p5-7
						.imgnumber 7
						.cubeicon.ciconleft.cil5-7
						.cubeicon.ciconright.cir5-7
						.cubeicon.ciconexpend.cie5-7
					.picture.p5-8
						.imgnumber 8
						.cubeicon.ciconleft.cil5-8
						.cubeicon.ciconright.cir5-8
						.cubeicon.ciconexpend.cie5-8
					.picture.p5-9
						.imgnumber 9
						.cubeicon.ciconleft.cil5-9
						.cubeicon.ciconright.cir5-9
						.cubeicon.ciconexpend.cie5-9
					.picture.p5-10
						.imgnumber.inpos2 10
						.cubeicon.ciconleft.cil5-10
						.cubeicon.ciconright.cir5-10
						.cubeicon.ciconexpend.cie5-10
				.showbig.showbig5
					.showbigclose
					.imgnumberfixed.sinfixed /10
					.sbi.sbi5-1
						img(src="image/articleimg/dimg5-1.jpg" alt="" class="spicture sp5-1")
						.imgnumber.sin 1
						.sbimginfo.sbiinfocolor5 日本街頭 早晨的京都 鴨川
						.cubeicon.sbiconleft.sil5-1
						.cubeicon.sbiconright.sir5-1
					.sbi.sbi5-2
						img(src="image/articleimg/dimg5-2.jpg" alt="" class="spicture sp5-2")
						.imgnumber.sin 2
						.sbimginfo.sbiinfocolor5 日本街頭 早晨的京都 鴨川
						.cubeicon.sbiconleft.sil5-2
						.cubeicon.sbiconright.sir5-2
					.sbi.sbi5-3
						img(src="image/articleimg/dimg5-3.jpg" alt="" class="spicture sp5-3")
						.imgnumber.sin 3
						.sbimginfo.sbiinfocolor5 大阪城河
						.cubeicon.sbiconleft.sil5-3
						.cubeicon.sbiconright.sir5-3
					.sbi.sbi5-4
						img(src="image/articleimg/dimg5-4.jpg" alt="" class="spicture sp5-4")
						.imgnumber.sin 5
						.sbimginfo.sbiinfocolor5 大阪城 天守閣
						.cubeicon.sbiconleft.sil5-4
						.cubeicon.sbiconright.sir5-4
					.sbi.sbi5-5
						img(src="image/articleimg/dimg5-5.jpg" alt="" class="spicture sp5-5")
						.imgnumber.sin 5
						.sbimginfo.sbiinfocolor5 大阪今昔館
						.cubeicon.sbiconleft.sil5-5
						.cubeicon.sbiconright.sir5-5
					.sbi.sbi5-6
						img(src="image/articleimg/dimg5-6.jpg" alt="" class="spicture sp5-6")
						.imgnumber.sin 6
						.sbimginfo.sbiinfocolor5 天神筋橋商店街
						.cubeicon.sbiconleft.sil5-6
						.cubeicon.sbiconright.sir5-6
					.sbi.sbi5-7
						img(src="image/articleimg/dimg5-7.jpg" alt="" class="spicture sp5-7")
						.imgnumber.sin 7
						.sbimginfo.sbiinfocolor5 大阪的黃昏時分
						.cubeicon.sbiconleft.sil5-7
						.cubeicon.sbiconright.sir5-7
					.sbi.sbi5-8
						img(src="image/articleimg/dimg5-8.jpg" alt="" class="spicture sp5-8")
						.imgnumber.sin 8
						.sbimginfo.sbiinfocolor5 HEP FIVE & 一風堂拉麵
						.cubeicon.sbiconleft.sil5-8
						.cubeicon.sbiconright.sir5-8
					.sbi.sbi5-9
						img(src="image/articleimg/dimg5-9.jpg" alt="" class="spicture sp5-9")
						.imgnumber.sin 9
						.sbimginfo.sbiinfocolor5 梅田大廈 空中花園 大阪的夜景
						.cubeicon.sbiconleft.sil5-9
						.cubeicon.sbiconright.sir5-9
					.sbi.sbi5-10
						img(src="image/articleimg/dimg5-10.jpg" alt="" class="spicture sp5-10")
						.imgnumber.sin.inpos3 10
						.sbimginfo.sbiinfocolor5 梅田大廈 空中花園 大阪的夜景
						.cubeicon.sbiconleft.sil5-10
						.cubeicon.sbiconright.sir5-10
			.d.day6
				.cube.cubetext.cday6-1
					.mainline.line6
					.secline.line6
					.cmaintext.cmtday.cmtd6 DAY6
					.cimg.ci6
					.csectext.cstday / / 因為飛機時間，
						br
						| 我們在尾聲只安排了形同台灣傳統市場的黑門市場，
						br
						| 在裡面品嘗了必吃的生魚片、
						br
						| 掃蕩要帶回台灣吃的美食後，
						br
						| 便坐車回到了關西機場，
						br
						| 結束了這次難忘的關西旅行。
					.cube.black
						.textborder.tblack
				.cube.cday6-2
					.imgnumberfixed /10
					.picture.p6-1
						.imgnumber 1
						.cubeicon.ciconleft.cil6-1
						.cubeicon.ciconright.cir6-1
						.cubeicon.ciconexpend.cie6-1
					.picture.p6-2
						.imgnumber 2
						.cubeicon.ciconleft.cil6-2
						.cubeicon.ciconright.cir6-2
						.cubeicon.ciconexpend.cie6-2
					.picture.p6-3
						.imgnumber 3
						.cubeicon.ciconleft.cil6-3
						.cubeicon.ciconright.cir6-3
						.cubeicon.ciconexpend.cie6-3
					
				.showbig.showbig6
					.showbigclose
					.imgnumberfixed.sinfixed /10
					.sbi.sbi6-1
						img(src="image/articleimg/dimg6-1.jpg" alt="" class="spicture sp6-1")
						.imgnumber.sin 1
						.sbimginfo.sbiinfocolor6 黑門市場
						.cubeicon.sbiconleft.sil6-1
						.cubeicon.sbiconright.sir6-1
					.sbi.sbi6-2
						img(src="image/articleimg/dimg6-2.jpg" alt="" class="spicture sp6-2")
						.imgnumber.sin 2
						.sbimginfo.sbiinfocolor6 黑門市場
						.cubeicon.sbiconleft.sil6-2
						.cubeicon.sbiconright.sir6-2
					.sbi.sbi6-3
						img(src="image/articleimg/dimg6-3.jpg" alt="" class="spicture sp6-3")
						.imgnumber.sin 3
						.sbimginfo.sbiinfocolor6 歸途
						.cubeicon.sbiconleft.sil6-3
						.cubeicon.sbiconright.sir6-3
			a(href="#footer" class="clickfooter clickdown" id="clickfooter")
	.footer(id="footer")
		a(href="#header" class="clickheader clickdown" id="clickfheader")
		.bigwrapper1
			.wrapper2
				.placefooter.pf1
				.placefooter.pf2
				.placefooter.pf3
				.placefooter.pf4
				.placefooter.pf5
				.placefooter.pf6
				.placefooter.pf7
				.placefooter.pf8
				.placefooter.pf9
				.placefooter.pf10
				.circle.footercircle
			.japantext Japan
		.bigwrapper2
			.cardcontainer
				.card
				.card
					.infome
						.imgme
						.myname LEE PEI-YUN
					.edu 
						.icondiv.eduicondiv
							i(class="fas fa-graduation-cap cardicon")
						.smalltitle.edutitle EDUCATION
						ul
							li
								.school Taichung Municipal Chang-Yie Senior High School
								.date Set 2014 - Jun 2017
							li
								.school National Taipei University of Education
								.department Department of Digital Technology Design
								.date Set 2017 - 
					.follow 
						.smalltitle.followtitle FOLLOW
						a(href='javascript:void(0);' class='icondiv fwicon fbdiv')
							i(class="fab fa-facebook-f cardicon fb")
						a(href='javascript:void(0);' class='icondiv fwicon')
							i(class="fab fa-twitter cardicon twitter")
						a(href='javascript:void(0);' class='icondiv fwicon ptdiv')
							i(class="fab fa-pinterest-p cardicon pinterest")
						a(href='javascript:void(0);' class='icondiv fwicon ptdiv')
							i(class="fab fa-instagram cardicon instagram")
				.card.alt
					.toggle
						i(class="fas fa-pencil-alt pencil")
					.cardtitle MESSAGE
						.close
					form( autocomplete="off")
						.inputcontainer
							input(type="text" id="input" class="username" required="required")
							label(for="input") Username
							.bar
						.inputcontainer
							textarea(id="input" class="message" required="required" value="" style="resize:none;width:340px;height:190px;")
							label(for="input") Message
							.bar.mbar
							.bar2
						.buttoncontainer
							button(class="formbutton") GO
	script(src="js/main.js")